html,
body {
  touch-action: pan-y; /* Erlaubt vertikales Scrollen, deaktiviert Pinch-to-Zoom */
  overflow: hidden; /* Verhindert unerwünschtes Scrollen auf body */
  overscroll-behavior: none; /* Deaktiviert das Standardverhalten (z. B. Swipe für Zurück-Navigation) */
  -webkit-overflow-scrolling: touch; /* Aktiviert sanftes Scrollen auf mobilen Geräten */
  user-select: none; /* Verhindert Markieren von Text */
  font-family: 'Figtree', sans-serif; /* Schriftart Figtree einbinden */
  font-weight: 800; /* Setzt die Gewichtung auf 800 */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent; /* Entfernt den Tap-Highlight auf iOS */
}

* {
  box-sizing: border-box;
}

/* Optimierte Scrollbar für Webkit-Browser */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.cssbuttons-io-button {
  padding: 0.5em 0.5em 0.5em 0.8em;
  color: white;
  background: linear-gradient(
    0deg,
    rgba(20, 167, 62, 1) 0%,
    rgba(102, 247, 113, 1) 100%
  );
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  border-radius: 10px;
}

.cssbuttons-io-button svg {
  margin-right: 6px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.bottom-btn2 {
  padding: 0.4em 0.4em 0.4em 0.4em;
  color: white;
  background: linear-gradient(
    0deg,
    rgb(167, 20, 20) 0%,
    rgb(247, 102, 102) 100%
  );
  box-shadow: 0 0.7em 1.5em -0.5em #a7141498;
  letter-spacing: 0.05em;
  border-radius: 10px;
}

.btn-kategorien {
  width: 100%;
  margin-top: 20px;
  color: black;
  padding: 0.7em 1.4em; /* Reduziert Padding oben und unten */
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(241, 241, 241) 100%
  );
  box-shadow: 0 0.7em 1.5em -0.5em #cecece98;
  letter-spacing: 0.05em;
  border-radius: 10px;

  display: flex; /* Flexbox aktivieren */
  justify-content: center; /* Horizontale Zentrierung */
  align-items: center; /* Vertikale Zentrierung */

  height: 3.5em; /* Optional: Höhe des Buttons definieren */
}

.btn-kategorien-active {
  width: 100%;
  margin-top: 20px;
  color: #14a73e;
  padding: 0.7em 1.4em; /* Reduziert Padding oben und unten */
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(241, 241, 241) 100%
  );
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 10px;

  display: flex; /* Flexbox aktivieren */
  justify-content: center; /* Horizontale Zentrierung */
  align-items: center; /* Vertikale Zentrierung */

  height: 3.5em; /* Optional: Höhe des Buttons definieren */
}

.btn-popup {
  color: black;
  padding: 0.7em 1.4em 0.7em 1.1em;
  background: linear-gradient(
    0deg,
    rgb(206, 206, 206) 0%,
    rgb(241, 241, 241) 100%
  );
  box-shadow: 0 0.7em 1.5em -0.5em #cecece98;
  letter-spacing: 0.05em;
  border-radius: 10px;
}

.cssbuttons-io-button-kasse {
  text-align: center;
  font-weight: 500;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: linear-gradient(
    0deg,
    rgba(20, 167, 62, 1) 0%,
    rgba(102, 247, 113, 1) 100%
  );
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 10px;
}

.cssbuttons-io-button-kasse:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.cssbuttons-io-button-kasse:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

/* Übergang beim Wechseln der Seite */
.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.page-wrapper {
  position: relative;
}


